<div class="editmodalbox" ng-if="field.field_type == 'txt_2_img'" ng-class="{literal}{'txt_2_img{{field.field_id}}': 'show'}[$storage.isShow]{/literal}">
	<p class="edit_title">编辑《图文列表》模块<span class="btn fr" ng-click="IsdeleteField($event,field.field_id)">删除</span></p>
	<table>
		<tr ng-if="themeattr[field.field_type].field_num.isedit == 1">
			<td class="wdview" style="vertical-align: top;">行排列数：</td>
			<td>
				<div class="btnlabel-radio">
					<label class="radiobox" ng-class="{literal}{'3': 'active'}[field.field_num]{/literal}"><input type="radio" ng-value="'3'" ng-model="field.field_num">三项图文</label>
					<label class="radiobox" ng-class="{literal}{'4': 'active'}[field.field_num]{/literal}"><input type="radio" ng-value="'4'" ng-model="field.field_num">四项图文</label>
					<label class="radiobox" ng-class="{literal}{'5': 'active'}[field.field_num]{/literal}"><input type="radio" ng-value="'5'" ng-model="field.field_num">五项图文</label>
				</div>
			</td>
		</tr>
		<tr>
			<td class="wdview" style="vertical-align: top;">图文列表：</td>
			<td>
				<div class="gray" ng-if="field.field_num == '3'">标题限制为1行字，描述限制为2行字</div>
				<div class="gray" ng-if="field.field_num == '4'">标题限制为1行字，第一项第二项描述限制为2行字，第三项第四项描述限制为1行字</div>
				<div class="gray" ng-if="field.field_num == '5'">标题限制为1行字，第一项描述限制为2行字，余下描述限制为1行字</div>
				<ul class="menu_editimgbox" ng-if="field.field_items.length > 0">
					<li ng-repeat="item in field.field_items track by $index"  ng-if="$index < field.field_num" class="angular_animate editboxlipos">
						<div class="img_operate">
							<span class="upmove" ng-click="upmove_modal(field.field_items, $index)"><i class="icon_up"></i></span>
							<span class="downmove" ng-click="downmove_modal(field.field_items, $index)"><i class="icon_down"></i></span>
							<span class="delmove" ng-click="del_fielditems(field.field_items, item,1)"><i class="icon_del"></i></span>
						</div>
						<div class="editimgbox">
							<div class="img_box" style="width:75px;float: none;" ng-class="item.field_img ? 'hasimg' : ''">
								<div class="selectimage" data-type="iconmenu" title="选择图片" selectimage ng-model="item.field_img">
									<img ng-src="{literal}{{item.field_img}}{/literal}" ng-if="item.is_localimg == '0'">
									<img ng-src="{$IMAGE_PATH}/micromagazine/img/thememodal/{literal}{{item.field_img}}{/literal}" ng-if="item.is_localimg == '1'">
								</div>
							</div>
						</div>
						<div class="editinfobox">
							<div class="line_info">
								<span class="infotitle">跳转链接：</span>
								<div class="infocontent">
									<div class="input-append">
										<input type="text" readonly size="25" ng-model="item.linkname">
										<a href="javascript:void(0);" class="selecturl btn" selecturl type="btnlink" data-mark="backurl" ng-model="item.linkurl"><i class="icon_link"></i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="editinfobox" style="margin:10px 0 0 0;">
							<div class="line_info">
								<span class="infotitle">标题内容：</span>
								<div class="infocontent">
									<div class="fl mr10">
										<input type="text" ng-model="item.title_info">
									</div>
				    				<div class="input-group fl" colorpicker ng-model="item.title_color" color=" {literal}{{item.title_color}}{/literal}">
									    <input type="text" class="form-control colorinput" ng-model="item.title_color"/>
									    <span class="input-group-addon"><i style="background-color: {literal}{{item.title_color}}{/literal};"></i></span>
									</div>
									<div class="fl resetcolor" ng-model="item.title_color" resetcolor color="{literal}{{themeattr[field.field_type].title_color.value}}{/literal}">
										<span class="btn btn-primary btn-mini">重置颜色</span>
									</div>
								</div>
							</div>
							<div class="line_info">
								<span class="infotitle">描述内容：</span>
								<div class="infocontent">
									<div class="fl mr10"><input type="text" ng-model="item.descibe_info" /></div>
									<div class="input-group fl" colorpicker ng-model="item.descibe_color" color=" {literal}{{item.descibe_color}}{/literal}">
									    <input type="text" class="form-control colorinput" ng-model="item.descibe_color"/>
									    <span class="input-group-addon"><i style="background-color: {literal}{{item.descibe_color}}{/literal};"></i></span>
									</div>
									<div class="fl resetcolor" ng-model="item.descibe_color" resetcolor color="{literal}{{themeattr[field.field_type].descibe_color.value}}{/literal}">
										<span class="btn btn-primary btn-mini">重置颜色</span>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
				<div ng-if="(field.field_num == '3' && field.field_items.length < 3) || (field.field_num == '4' && field.field_items.length < 4) || (field.field_num == '5' && field.field_items.length < 5)">
					<span class="btn btn-primary" ng-click="add_txt2img(field.field_items,field.field_num)">添加图文项</span>
				</div>
			</td>
		</tr>
		<tr>
			<td colspan="2"><dotted></dotted></td>
		</tr>
		<tr ng-if="themeattr[field.field_type].field_bgcolor.isedit == 1">
			<td class="wdview">背景颜色：</td>
			<td> 
				<div class="input-group fl" colorpicker ng-model="field.field_bgcolor" color="{literal}{{field.field_bgcolor}}{/literal}">
				    <input type="text" class="form-control" ng-model="field.field_bgcolor"/>
				    <span class="input-group-addon"><i style="background-color: {literal}{{field.field_bgcolor}}{/literal};"></i></span>
				</div>
				<div class="fl resetcolor" ng-model="field.field_bgcolor" resetcolor color="{literal}{{themeattr[field.field_type].field_bgcolor.value}}{/literal}">
					<span class="btn btn-primary btn-mini">重置颜色</span>
				</div>
			</td>
		</tr>
		<tr ng-if="themeattr[field.field_type].field_bgcolor.isedit == 1">
			<td class="wdview">边框颜色：</td>
			<td> 
				<div class="input-group fl" colorpicker ng-model="field.item_bordercolor" color="{literal}{{field.item_bordercolor}}{/literal}">
				    <input type="text" class="form-control" ng-model="field.item_bordercolor"/>
				    <span class="input-group-addon"><i style="background-color: {literal}{{field.item_bordercolor}}{/literal};"></i></span>
				</div>
				<div class="fl resetcolor" ng-model="field.item_bordercolor" resetcolor color="{literal}{{themeattr[field.field_type].item_bordercolor.value}}{/literal}">
					<span class="btn btn-primary btn-mini">重置颜色</span>
				</div>
			</td>
		</tr>
		<tr ng-if="themeattr[field.field_type].title_fz.isedit == 1">
			<td class="wdview">标题字体大小：</td>
			<td>
				<div class="slide_circle" rel="modhd" min="12" max="20" step="1" value="{literal}{{field.title_fz}}{/literal}" ng-model="field.title_fz" slider></div> 
				<div class="drag_num" ng-bind="field.title_fz">
			</td>
		</tr>
		<tr ng-if="themeattr[field.field_type].descibe_fz.isedit == 1">
			<td class="wdview">描述字体大小：</td>
			<td>
				<div class="slide_circle" rel="modhd" min="10" max="16" step="1" value="{literal}{{field.descibe_fz}}{/literal}" ng-model="field.descibe_fz" slider></div> 
				<div class="drag_num" ng-bind="field.descibe_fz">
			</td>
		</tr>
	</table>
</div>