<div class="editmodalbox" ng-class="{literal}{'form{{field.field_id}}': 'show'}[$storage.isShow]{/literal}">
	<p class="edit_title">编辑《万能表单》模块<span class="btn fr" ng-click="IsdeleteField($event,field.field_id)">删除</span></p>
	<table>
		<tr>
			<td class="wdview" style="vertical-align: top;padding-top:15px;">万能表单：</td>
			<td> 
				<div>
					<div class="input-append">
					    <input type="text" class="form-control" readonly ng-model="field.title" encodeuri value="{literal}{{field.title | decodeURI}}{/literal}"/>
					    <span class="btn btn-primary getformlist" getformlist data-mark="form" ng-model="field.title">选择表单</span>
					</div>
				</div>
			</td>
		</tr>
		<tr>
			<td class="wdview">内上边距：</td>
			<td>
				<div class="slide_circle" rel="modhd" min="0" max="50" step="1" value="{literal}{{field.field_pt}}{/literal}" ng-model="field.field_pt" slider></div>
				<div class="drag_num" ng-bind="field.field_pt"></div>
			</td>
		</tr>
		<tr>
			<td class="wdview">内下边距：</td>
			<td>
				<div class="slide_circle" rel="modhd" min="0" max="50" step="1" value="{literal}{{field.field_pb}}{/literal}" ng-model="field.field_pb" slider></div>
				<div class="drag_num" ng-bind="field.field_pb"></div>
			</td>
		</tr>
		<tr>
			<td colspan="2"><dotted></dotted></td>
		</tr>
		<tr>
			<td class="wdview">外上边距：</td>
			<td>
				<div class="slide_circle" rel="modhd" min="0" max="30" step="1" value="{literal}{{field.field_mt}}{/literal}" ng-model="field.field_mt" slider></div>
				<div class="drag_num" ng-bind="field.field_mt"></div>
			</td>
		</tr>
		<tr>
			<td class="wdview">外下边距：</td>
			<td>
				<div class="slide_circle" rel="modhd" min="0" max="30" step="1" value="{literal}{{field.field_mb}}{/literal}" ng-model="field.field_mb" slider></div>
				<div class="drag_num" ng-bind="field.field_mb"></div>
			</td>
		</tr>
	</table>
</div>