<div class="editmodalbox" ng-class="{literal}{'time{{field.field_id}}': 'show'}[$storage.isShow]{/literal}" >
	<p class="edit_title">编辑《倒计时按钮》模块<span class="btn fr" ng-click="IsdeleteField($event,field.field_id)">删除</span></p>
	<table>
		<tr>
			<td class="wdview">倒计时文字：</td>
			<td><input type="text" name="title_con" ng-model="field.field_con"  encodeuri value="{literal}{{field.field_con | decodeURI}}{/literal}"></td>
		</tr>
		<tr>
			<td class="wdview">倒计时时间：</td>
			<td><input type="text" class="Wdate" mark="field_time" ng-model="field.field_rtime" wdatetime></td>
		</tr>
		<tr>
			<td class="wdview">背景颜色：</td>
			<td> 
				<div class="input-group fl" colorpicker ng-model="field.field_bgcolor" color="{literal}{{field.field_bgcolor}}{/literal}">
				    <input type="text" class="form-control" ng-model="field.field_bgcolor"/>
				    <span class="input-group-addon"><i style="background-color: {literal}{{field.field_bgcolor}}{/literal};"></i></span>
				</div>
				<div class="fl resetcolor" ng-model="field.field_bgcolor" resetcolor color="{literal}{{color.time.bgcolor}}{/literal}">
					<span class="btn btn-primary btn-mini">重置颜色</span>
				</div>
			</td>
		</tr>
		<tr>
			<td class="wdview">字体大小：</td>
			<td>
				<div class="slide_circle" rel="modhd" min="12" max="26" step="2" value="{literal}{{field.field_fz}}{/literal}" ng-model="field.field_fz" slider></div> 
				<div class="drag_num" ng-bind="field.field_fz">
			</td>
		</tr>
		<tr>
			<td class="wdview">字体颜色：</td>
			<td>
				<div class="input-group fl" colorpicker ng-model="field.field_color" color=" {literal}{{field.field_color}}{/literal}">
				    <input type="text" class="form-control" ng-model="field.field_color"/>
				    <span class="input-group-addon"><i style="background-color: {literal}{{field.field_color}}{/literal};"></i></span>
				</div>
				<div class="fl resetcolor" ng-model="field.field_color" resetcolor color="{literal}{{color.time.color}}{/literal}">
					<span class="btn btn-primary btn-mini">重置颜色</span>
				</div>
			</td>
		</tr>
		<tr>
			<td colspan="2"><dotted></dotted></td>
		</tr>
		<tr ng-class="field.field_time ? '' : 'hide'">
			<td class="wdview">时间背景大小：</td>
			<td>
				<div class="slide_circle" rel="modhd" min="18" max="30" step="1" value="{literal}{{field.field_size}}{/literal}" ng-model="field.field_size" slider></div>
				<div class="drag_num" ng-bind="field.field_size"></div>
			</td>
		</tr>
		<tr ng-class="field.field_time ? '' : 'hide'">
			<td class="wdview">时间背景颜色：</td>
			<td>
				<div class="input-group fl" colorpicker ng-model="field.field_timebgcolor" color=" {literal}{{field.field_timebgcolor}}{/literal}">
				    <input type="text" class="form-control" ng-model="field.field_timebgcolor"/>
				    <span class="input-group-addon"><i style="background-color: {literal}{{field.field_timebgcolor}}{/literal};"></i></span>
				</div>
				<div class="fl resetcolor" ng-model="field.field_timebgcolor" resetcolor color="{literal}{{color.time.timebgcolor}}{/literal}">
					<span class="btn btn-primary btn-mini">重置颜色</span>
				</div>
			</td>
		</tr>
		<tr ng-class="field.field_time ? '' : 'hide'">
			<td class="wdview">时间字体大小：</td>
			<td>
				<div class="slide_circle" rel="modhd" min="10" max="26" step="2" value="{literal}{{field.field_timefz}}{/literal}" ng-model="field.field_timefz" slider></div> 
				<div class="drag_num" ng-bind="field.field_timefz">
			</td>
		</tr>
		<tr ng-class="field.field_time ? '' : 'hide'">
			<td class="wdview">时间字体颜色：</td>
			<td>
				<div class="input-group fl" colorpicker ng-model="field.field_timefcolor" color=" {literal}{{field.field_timefcolor}}{/literal}">
				    <input type="text" class="form-control" ng-model="field.field_timefcolor"/>
				    <span class="input-group-addon"><i style="background-color: {literal}{{field.field_timefcolor}}{/literal};"></i></span>
				</div>
				<div class="fl resetcolor" ng-model="field.field_timefcolor" resetcolor color="{literal}{{color.time.timefcolor}}{/literal}">
					<span class="btn btn-primary btn-mini">重置颜色</span>
				</div>
			</td>
		</tr>
		<tr ng-class="field.field_time ? '' : 'hide'">
			<td colspan="2"><dotted></dotted></td>
		</tr>
		<tr>
			<td class="wdview">内上边距：</td>
			<td>
				<div class="slide_circle" rel="modhd" min="0" max="30" step="1" value="{literal}{{field.field_pt}}{/literal}" ng-model="field.field_pt" slider></div>
				<div class="drag_num" ng-bind="field.field_pt"></div>
			</td>
		</tr>
		<tr>
			<td class="wdview">内右边距：</td>
			<td>
				<div class="slide_circle" rel="modhd" min="0" max="30" step="1" value="{literal}{{field.field_pr}}{/literal}" ng-model="field.field_pr" slider></div>
				<div class="drag_num" ng-bind="field.field_pr"></div>
			</td>
		</tr>
		<tr>
			<td class="wdview">内下边距：</td>
			<td>
				<div class="slide_circle" rel="modhd" min="0" max="30" step="1" value="{literal}{{field.field_pb}}{/literal}" ng-model="field.field_pb" slider></div>
				<div class="drag_num" ng-bind="field.field_pb"></div>
			</td>
		</tr>
		<tr>
			<td class="wdview">内左边距：</td>
			<td>
				<div class="slide_circle" rel="modhd" min="0" max="30" step="1" value="{literal}{{field.field_pl}}{/literal}" ng-model="field.field_pl" slider></div>
				<div class="drag_num" ng-bind="field.field_pl"></div>
			</td>
		</tr>
		<tr>
			<td colspan="2"><dotted></dotted></td>
		</tr>
		<tr>
			<td class="wdview">外上边距：</td>
			<td>
				<div class="slide_circle" rel="modhd" min="0" max="30" step="1" value="{literal}{{field.field_mt}}{/literal}" ng-model="field.field_mt" slider></div>
				<div class="drag_num" ng-bind="field.field_mt"></div>
			</td>
		</tr>
		<tr>
			<td class="wdview">外下边距：</td>
			<td>
				<div class="slide_circle" rel="modhd" min="0" max="30" step="1" value="{literal}{{field.field_mb}}{/literal}" ng-model="field.field_mb" slider></div>
				<div class="drag_num" ng-bind="field.field_mb"></div>
			</td>
		</tr>
	</table>
</div>