{if $field.field_prdtheme neq 'defaultskin' && $field.field_makeup eq 'mod-two-title'}
{literal}
<style>
.mag_product{/literal}{$field.field_id}{literal} .mod-two-title li a{{/literal}
	padding:{$field.field_prdstyle.bgpadding};
	background-color:{$field.field_prdstyle.bgcolor};
	overflow: hidden;
	box-shadow:{$field.field_prdstyle.bgshadow};
	border-radius:{$field.field_prdstyle.bgradius};
	-webkit-border-radius:{$field.field_prdstyle.bgradius};
	-moz-border-radius:{$field.field_prdstyle.bgradius};{literal}}
.mag_product{/literal}{$field.field_id}{literal} .mod-two-title li .prdinfo{{/literal}
	background-color:{$field.field_prdstyle.infobgcolor};
	padding:{$field.field_prdstyle.infopadding};{literal}}
.mag_product{/literal}{$field.field_id}{literal} .mod-two-title li .prdinfo .title{{/literal}
	-webkit-line-clamp:{$field.field_prdstyle.titleline};
	margin:{$field.field_prdstyle.titlemargin};
	height:{$field.field_prdstyle.titleheight};
	line-height:{$field.field_prdstyle.titlelineheight};
	text-align:{$field.field_prdstyle.titlealign};
	color:{$field.field_prdstyle.titlecolor};
	font-size:{$field.field_prdstyle.titlesize};{literal}}
.mag_product{/literal}{$field.field_id}{literal} .mod-two-title li .prdinfo .price{{/literal}
	color:{$field.field_prdstyle.pricecolor};
	font-size:{$field.field_prdstyle.pricesize};
	text-align:{$field.field_prdstyle.pricealign};
	line-height:{$field.field_prdstyle.pricelineh};{literal}}	    		
.mag_product{/literal}{$field.field_id}{literal} .mod-two-title li .prdinfo .havecart{{/literal}
	background-color:{$field.field_prdstyle.buybgcolor};
	border-radius:{$field.field_prdstyle.buyradius};
	-webkit-border-radius:{$field.field_prdstyle.buyradius};
	-moz-border-radius:{$field.field_prdstyle.buyradius};
	padding:{$field.field_prdstyle.buypadding};
	color:{$field.field_prdstyle.buycolor};
	{literal}}	    		
.mag_product{/literal}{$field.field_id}{literal} .mod-two-title li .prdinfo .havecart.cartfont{{/literal}
	width:{$field.field_prdstyle.buysize};
	height:{$field.field_prdstyle.buysize};
	line-height:{$field.field_prdstyle.buysize};
	font-size:{$field.field_prdstyle.buysize};{literal}}	
.mag_product{/literal}{$field.field_id}{literal} .pinkskin li a{{/literal}
	border-bottom: 3px solid {$field.field_prdstyle.buybgcolor};{literal}}
.mag_product{/literal}{$field.field_id}{literal} .mod-two-title li .prdpricebtn{{/literal}
	height:{$field.field_prdstyle.pricelineh};{literal}overflow:hidden;}
.mag_product{/literal}{$field.field_id}{literal} .preselltag,.mag_product{/literal}{$field.field_id}{literal} .discountstyle,.mag_product{/literal}{$field.field_id}{literal} .specialtag
		{{/literal}background-color: {$field.field_prdstyle.buybgcolor};{literal}}
</style>
{/literal}
{/if}
<div class="mag_product mag_product{$field.field_id}">
	<div class="prd_itemsbox catepage_items" style="background-color: {$field.field_bgcolor};margin:{$field.field_mt} 0 {$field.field_mb} 0;">
		<ul class="prd_items {$field.field_makeup} {if $field.field_makeup eq 'mod-two-title'}{$field.field_prdtheme}{/if} {$field.field_class}" style="padding:{$field.field_pt} {$field.field_pr} {$field.field_pb} {$field.field_pl};">
		</ul>
	</div>
</div>


