/* html,body{ width:100%; height:100%; overflow:hidden;} */
body{margin:0;font-family: "Microsoft YaHei",Helvetica,"STHeiti STXihei","Microsoft JhengHei",Tohoma,Arial;font-size:14px;background-color:#f8f7f5;
-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;/* -webkit-user-select: none; */-webkit-touch-callout: none; line-height:1.6;color:#333333;}
ul,ol,ul ul,ul ol,ol ol,ol ul{margin-bottom:0;list-style: none;padding: 0; margin: 0;}
p{margin:0;}
.hide{display: none;}
img {max-width: 100%;width: auto\9;height: auto;vertical-align: middle;border: none;-ms-interpolation-mode: bicubic;}
a {color: #333333;text-decoration: none;}
.fl{float: left;}.fr{float: right;}
.clearfix{*zoom:1;}.clearfix:before,.clearfix:after{display:table;content:"";line-height:0;}
.clearfix:after{clear:both;}
a:hover, a:active,a:focus{outline:0;text-decoration: none;}
/* 弹层 */
.alert_tips {position: fixed;width: 50%;padding: 0.6em;left: 50%;margin-left: -25%;top: 50%;margin-top: -5px;z-index: 3000;display: none;
background-color: rgba(20, 20, 20, 0.8);color: #fff;text-align: center;border-radius: 4px;-webkit-border-radius: 4px;-moz-border-radius: 4px;}

/* 字体图标 font */
@font-face {font-family: 'icomoon';
    	src:url('../fonts20171122/icomoon.eot?7koyz9');
    	src:url('../fonts20171122/icomoon.eot?7koyz9#iefix') format('embedded-opentype'),
        url('../fonts20171122/icomoon.ttf?7koyz9') format('truetype'),
        url('../fonts20171122/icomoon.woff?7koyz9') format('woff'),
        url('../fonts20171122/icomoon.svg?7koyz9#icomoon') format('svg');font-weight: normal;font-style: normal;}
.icon_phone,.icon_home,.icon_classfiy,.icon_cart,.icon_user,.icon_addcart,.icon_close,.icon_add,.icon_minus,.icon_rightarrow,
.icon_circleright,.icon_okright,.radio input[type="radio"],.checkbox input[type="checkbox"],.form_select,.checkradioimgbox  .formimgpic .pic,
.checkboxpic .imgpic,.radiopic .imgpic,.icon_home_fill,.icon_classfiy_fill,.icon_cart_fill,.icon_user_fill
{font-family: 'icomoon';speak: none;font-style: normal;font-weight: normal;font-variant: normal;text-transform: none;
-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.icon_phone:after{content: '\e904';}
.icon_home:after{content: '\e613';}
.icon_classfiy:after{content: '\e120';}
.icon_cart:after{content: '\e611';}
.icon_user:after{content: '\e614';}
.icon_home_fill:after{content: '\e908';}
.icon_classfiy_fill:after{content: '\e90a';}
.icon_cart_fill:after{content: '\e907';}
.icon_user_fill:after{content: '\e909';}
.icon_addcart:after{content: '\e906';}
.icon_close:after{content: '\e870';}
.icon_add:after{content: '\e118';}
.icon_minus:after{content: '\e119';}
.icon_rightarrow:after{content: '\e649';}
.icon_circleright:after{content: '\e900';}
.icon_okright:after{content: '\e902';}

.page-content{margin:0px auto;overflow:hidden;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
/*右侧二维码*/
.sidecode{display:none;}
.sidecode p{margin-bottom: 10px;}

.rich_media_title {margin: 0;margin-bottom: 10px;line-height: 1.4;font-weight: 400;font-size: 24px;}
.rich_media_meta_list {margin-bottom: 18px;line-height: 20px;font-size: 0;}
.rich_media_meta_list em {font-style: normal;color: #8c8c8c;}
.rich_media_meta_list .rich_media_meta{display: inline-block;vertical-align: middle;margin-right: 8px;margin-bottom: 10px;font-size: 16px;}
.rich_media_meta_list a.rich_media_meta{color: #607fa6;}
@media screen and (min-width:640px){ 
	body{background-color: #fff;}
	.page-content{position:relative;width:640px;border-bottom: 1px solid #d9dadc; border-top:none; background-color:#fff;}
	.page-content:before{content: " ";position: absolute;left: 0;top: 0;width: 100%;height: 1px;border-top: 1px solid #e5e5e5;
	-webkit-transform-origin: 0 0;transform-origin: 0 0;-webkit-transform: scaleY(0.5);transform: scaleY(0.5);top: auto;bottom: -2px;}
	.rich_media_title {padding-bottom: 10px;margin-bottom: 14px;border-bottom: 1px solid #e7e7eb;}
}
@media screen and (min-width:1000px){
	.sidecode{position:fixed;top:0px;display:block;text-align:center;padding: 16px 16px 5px;border: 1px solid #d9dadc;margin-top:30px; width:102px;margin-left:648px;background-color:#fff;}
}
/* 轮播图样式 */
.mag_carousel .slider{position: relative;}
.mag_carousel .carousel_imgbox{  position: relative;overflow: hidden;}
.mag_carousel .carousel_imgbox.hidetitle .imgtitle{display: none;}
.mag_carousel .carousel_imgbox.showtitle .imgtitle{display: block;}
.mag_carousel .carousel_imgbox .carousel_img{position: relative;float: left;}
.mag_carousel .carousel_imgbox .carousel_img a{display: block;text-align: center;}
.mag_carousel .carousel_imgbox .carousel_img .imgtitle{position: absolute;background-color: rgba(0,0,0,0.7);width: 100%;color: #fff;padding: 5px;box-sizing: border-box;bottom: 0;margin: 0;}
.mag_carousel .carousel_dot{  position: absolute;top: 0;width: 100%;height: 20px;line-height: 20px;text-align: center;}
.mag_carousel .carousel_dot li{width: 7px;height: 7px;border-radius: 100%;background-color:rgba(255,255,255,0.4);display: inline-block;  margin: 0 5px 0 0;}
.mag_carousel .carousel_dot li.on{background-color: rgba(239, 234, 234, 1);}
.mag_carousel .carousel_dot li{border:1px solid rgba(207, 207, 207, 0.7);border-radius:4px}
@media screen and (-webkit-min-device-pixel-ratio:2){
	.mag_carousel .carousel_dot li{position:relative;border:0}
	.mag_carousel .carousel_dot li:before{content:"";width:200%;height:200%;position:absolute;top:0;left:0;border:1px solid rgba(207, 207, 207, 0.7);
	-webkit-transform:scale(0.5);-webkit-transform-origin:0 0;padding:1px;-webkit-box-sizing:border-box;border-radius:8px;pointer-events:none}
}

/* 富文本 */
.richtxt{font-size: 16px;line-height: 1.6em;color:#3e3e3e;}
.richtxt p {min-height: 1em;margin:0;white-space: pre-wrap;word-break: break-all;}
.richtxt pre{white-space: normal;}
.richtxt li{list-style: inherit;}
.list-paddingleft-2{padding-left: 30px;}
.richtxt blockquote{padding:0 0 0 15px;margin:0 0 20px;border-left:5px solid #eeeeee;}
.richtxt blockquote:before,blockquote:after{content:"";}
.richtxt hr {margin: 10px 0;border: 0;border-top: 1px solid #EEE;border-bottom: 1px solid #FFF;}
.richtxt table{margin:0 0 10px 0;border-collapse: collapse;font-size: 16px;line-height: 1.6em;width:100%;}
.richtxt table tr,.richtxt table td{padding: 5px 10px;border: 1px solid #DDD;}
.richtxt a,.richtxt a:hover,.richtxt a:focus{color: #09f;text-decoration: none;font-size: inherit;}
/* 单图列表 */
.singleimglist{box-sizing: border-box;}
.singleimglist .pos_r{position: relative;display: block;}
.singleimglist .pos_r img{vertical-align: bottom;}
.singleimglist.imglist_one .pos_r img{vertical-align: middle;}
.singleimglist .imgtitle{position: absolute;background-color: rgba(0,0,0,0.7);width: 100%;color: #fff;padding: 5px;box-sizing: border-box;bottom: 0;margin: 0;}
.singleimglist.imglist_one{width:100%;}
.singleimglist.imglist_two{float: left;width:50%;}
.singleimglist.imglist_three{float: left;width:33.33%;}
.singleimglist.imglist_four{float: left;width:25%;}

/* 标题样式 */
.title_one p{border-left:3px solid #ff5d5d;padding-left: 5px;line-height: 1;}
.title_two p{border-bottom: 1px solid #eee;padding-bottom: 3px;}
.title_two p span{border-bottom:3px solid #ff5d5d;padding-bottom: 3px;}
.title_three span{position:relative;display: inline-block;padding: 0px 10px;height: 30px;line-height: 30px;box-sizing: border-box;}
.title_three span:after{content: "";border: 1em solid #ff5d5d;border-left: none;border-right-color: transparent;  border-top-width:15px;border-right-width: 14px;border-bottom-width:15px;position: absolute;right: -14px;top: 0;}

/* 菜单模块 */
.mag_menu{position: fixed;bottom: 0;width: 100%;left: 0;right: 0;box-shadow: 0 0 5px rgba(0,0,0,.1);z-index: 1000;}
.menu_editimgbox .slide_circle{margin:0 10px;width: 200px;}
.menu_nav{display: -webkit-box;background-color: #fff;font-size: 12px;padding: 8px 0 8px 0;}
.menu_nav li{-webkit-box-flex: 1;text-align: center;  width: 25%;}
.menu_nav li a{color:#5f646e;position:relative;display: block;}
.menu_nav li i{line-height: 1;font-size:22px;display: block;}
/* .menu_nav li img{padding-bottom:5px;} */
.menu_nav li img.nav_img,.menu_nav li img.activeimg{height: 22px;box-sizing: border-box;} 
.mag_menu li.active .normalicon {display: none;}
.mag_menu li.active .lighticon {display: block!important;}
.menu_nav li p{line-height: 1;font-size: 12px;margin: 4.8px auto 0;}
.menu_cartnum{position: absolute;background: #ff5d5d;width:15px;height: 15px;border-radius:100%;color: #fff;
line-height: 15px;text-align: center;display: inline-block;left:50%;top:-5px;font-size: 10px;display: none;margin-left: 8px;}



/* 关联分类 */
.classfiy_item a{display: inline-block;width: 100%;box-sizing: border-box;}
/* 按钮连接 */
.mag_btnlink a{display: inline-block;border-radius:5px;}
/* 联系方式 */
.contact_modal1 .icon_phone,.contact_modal2 .icon_phone{padding-right:5px;}
.contact_modal a{display: block;color: inherit;}
/* 倒计时模块 */
.mag_time span{border-radius:100%;-webkit-border-radius:100%;-moz-border-radius:100%;display:inline-block;}
/* 公告模块 */
#magnotice1{overflow:hidden;white-space:nowrap;}
#magnotice2,#magnotice3{width: auto;padding-right:20px;}
/* 拼图模块 */
.mag_puzzle table a,.mag_puzzle table img{display: block;}
.mag_puzzle table{border-collapse: collapse;}
.mag_puzzle table tr,.mag_puzzle table td{padding: 0;}
.magictable{width:100%;height:auto;  border-collapse: collapse;border-spacing: 0;table-layout: fixed;}
.magictable,.magictable tbody,.magictable tr,.magictable td,.magictable td a,.magictable td a img{  margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;}
.magictable td{width:25%;  font-weight: normal;vertical-align: middle;/* display: table-cell; */}
.magictable td.cols_2{width:50%;}
.magictable td.cols_3{width:75%;}
.magictable td.cols_4{width:100%;}
.magictable_col3 .magictable td{width:33.33%;}
.magictable_col3 .magictable td.cols_2{width:66.66%;}
.magictable_col3 .magictable td.cols_3{width:100%;}
.magictable td a{display: block;}
.magictable td a img{display: inline-block;vertical-align: middle;max-width: 100%;max-height: 100%;width: auto;height: auto;border: none;}	
@media (min-width: 640px){.magictable{width: 640px;}}	

/* 分享样式 */
.share-btn{height:auto;overflow: hidden;}
.share-btn .btn{width:49%;padding:5px 0;line-height: 32px;display: inline-block;margin-bottom: 0;font-size: 12px;text-align: center;
vertical-align: middle;cursor: pointer;color: #333333;background-color: #fff;border: 1px solid #ddd;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
.share-btn .btn img{width: 22px;height: 22px;}
.share-cover{position: fixed;top: 0;left: 0;width: 100%;height: 100%;background: rgba(0, 0, 0, 0.7);display: none;z-index: 20000;}
.share-cover img{position: fixed;right: 18px;top: 5px;width: 260px!important;height: 180px!important;z-index: 20001;}


.page_loading {	width: 100%;height: 100%;background-color: #fff;position: fixed;top: 0;left: 0;z-index: 2999;-webkit-transform: translate3d(100%, 0px, 0px);
	-moz-transform: translate3d(100%, 0px, 0px);transform: translate3d(100%, 0px, 0px);-webkit-transition: -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
	-moz-transition: -moz-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);-o-transition: -o-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
	transition: transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);}
.page_loading.show {-webkit-transform: translate3d(0%, 0px, 0px);-moz-transform: translate3d(0%, 0px, 0px);
	transform: translate3d(0%, 0px, 0px);-webkit-transition: -webkit-transform 0.3s	cubic-bezier(0.165, 0.840, 0.440, 1.000);-moz-transition: -moz-transform 0.3s
		cubic-bezier(0.165, 0.840, 0.440, 1.000);-o-transition: -o-transform 0.3s cubic-bezier(0.165, 0.840, 0.440, 1.000);
	transition: transform 0.3s cubic-bezier(0.165, 0.840, 0.440, 1.000);}
@-webkit-keyframes bouncedelay{0%,80%,100%{-webkit-transform:scale(0.0);background:#e5e5e5;}40%{-webkit-transform:scale(1.0);background:#6bc30d;}}
@-moz-keyframes bouncedelay{0%,80%,100%{transform:scale(0.0);-moz-transform:scale(0.0);background:#e5e5e5;}40%{transform:scale(1.0);-moz-transform:scale(1.0);background:#6bc30d;}}
@keyframes bouncedelay{0%,80%,100%{transform:scale(0.0);-webkit-transform:scale(0.0);background:#e5e5e5;}40%{transform:scale(1.0);-webkit-transform:scale(1.0);background:#6bc30d;}}
.loading_mask{width:110px;position:absolute;top:50%;margin:-8px -45px 0 0;right:50%;}
.loading_mask ul {height: 8px;display: block;position: absolute;left: 0;bottom: 0;width: 110px;overflow: hidden;margin-left: 4px;text-align: center;}
.loading_mask ul li {display: block;float: left;width: 8px;height: 8px;background: #e5e5e5;margin-right: 8px;-o-border-radius: 50%;
	-moz-border-radius: 50%;-webkit-border-radius: 50%;border-radius: 50%;-webkit-animation-fill-mode: both;-moz-animation-fill-mode: both;
	-o-animation-fill-mode: both;-ms-animation-fill-mode: both;animation-fill-mode: both;}
.loading_mask ul.anm li {background: #e5e5e5;width: 8px;height: 8px;border-radius: 100%;display: inline-block;-webkit-animation: bouncedelay 1.4s infinite ease-in-out;
	animation: bouncedelay 1.4s infinite ease-in-out;-webkit-animation-fill-mode: both;animation-fill-mode: both}
.loading_mask ul.anm li:nth-child(4) {-webkit-animation-delay: -0.64s;-moz-animation-delay: -0.64s;animation-delay: -0.64s}
.loading_mask ul.anm li:nth-child(3) {-webkit-animation-delay: -0.48s;-moz-animation-delay: -0.48s;animation-delay: -0.48s}
.loading_mask ul.anm li:nth-child(2) {-webkit-animation-delay: -0.32s;-moz-animation-delay: -0.32s;animation-delay: -0.32s}
.loading_mask ul.anm li:nth-child(1) {-webkit-animation-delay: -0.16s;-moz-animation-delay: -0.16s;animation-delay: -0.16s}


/* tab切换模块 */
.ui-tab-nav {width:100%;background-color:#fff;display:box;display:-webkit-box;font-size:14px;height:45px;-webkit-box-sizing:border-box;box-sizing:border-box;  position:relative;}
.ui-tab-cont {width:100%;overflow:hidden; }
.ui-tab-content {display:-webkit-box;background:#fff; overflow:hidden; transition-property: transform;transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1);transition-duration: 0ms;}
.ui-tab-content>li {-webkit-box-flex:1;width:100%; height: 0px;}
.ui-tab-nav li {height:45px;line-height:45px;min-width:70px;box-flex:1;-webkit-box-flex:1;text-align:center;color:#333;-webkit-box-sizing:border-box;box-sizing:border-box}
.ui-tab-nav li.current {color:#ff5d5d;border-bottom:2px #ff5d5d solid;}
.ui-tab-nav li:active {opacity:.8}	
.navtabcontentlist{}
.navtabcontentlist li{max-height: 425px;overflow-y: auto;}
.navtabcontentlist li a{display: block;padding: 15px 15px 10px 10px;overflow: hidden;position: relative;cursor: default;
text-decoration: none!important;-webkit-tap-highlight-color: transparent;}
.navtabcontentlist li a:after {content: " ";position: absolute;left: 0;bottom: 0;width: 100%;height: 1px;
border-bottom: 1px solid #e2e2e2;-webkit-transform-origin: 0 100%;transform-origin: 0 100%;-webkit-transform: scaleY(0.5);transform: scaleY(0.5);left: 10px;}
.navtabcontentlist li .pic{ float: left;margin-right: 10px; width: 80px;height: 60px;overflow: hidden;}
.navtabcontentlist li .navtabcon{ overflow: hidden;}
.navtabcontentlist li .navtabcon .title{font-weight: normal;font-size: 16px;color: #000;width: 100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;}
.navtabcontentlist li .navtabcon .subtitle{font-size: 13px;color: #999;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;line-height: 1.3;}



