<div class="mag_txt_1_img mag_txt_1_img{$field.field_id}">
	<ul style="background-color:{$field.field_bgcolor};padding:{$field.field_pd};" num="{$field.line_num}" class="{if $field.is_item_border == '1'}hasborder{/if}">
		{foreach item=item from=$field.field_items key=key}
		<li style="padding:{$field.item_margin}">
			<a href="{$item.linkurl}" style="padding:{$field.item_pd};background-color:{$item.bgcolor};border-radius:{$field.item_radius};border-color:{$field.item_bordercolor}">
				<div class="txtimgbox img_{$field.img_position}">
					{if $field.img_position == 'top' || $field.img_position == 'left'}
					<div class="txtimg_imgbox" {if $field.img_position == 'left'}style="padding-right:{$field.titleimg_pd}"{/if}>
						{if $item.is_localimg == '0' && $item.field_img}
						<img class="" src="{$item.field_img}">
						{elseif $item.is_localimg == '1' && $item.field_img}
						<img class="" src="{$IMAGE_PATH}/micromagazine/img/thememodal/{$item.field_img}">
						{/if}
					</div>
					{/if}
					<div class="txtimg_infobox align_{$field.title_align}" style="text-align:{$field.title_align};
						{if $field.img_position == 'top' || $field.img_position == 'bottom'}padding-top:{$field.title_pt};padding-bottom:{$field.title_pb};{/if}">
						<div class="txtimg_title" style="color:{$item.title_color};font-size:{$field.title_fz};">{$item.title_info}</div>
						{if $field.is_descibe == '1'}
						<div class="txtimg_descibe" style="color:{$item.descibe_color};font-size:{$field.descibe_fz};">{$item.descibe_info}</div>
						{/if}
						{if $field.is_btn == '1'}
						<div class="txtimg_btn" style="color:{$item.btn_color};font-size:{$field.btn_fz};border-color:{$item.btn_bordercolor};
							background-color:{$item.btn_bgcolor};border-radius:{$field.btn_radius}">{$item.btn_info}
						</div>
						{/if}
					</div>
					{if $field.img_position == 'bottom' || $field.img_position == 'right'}
					<div class="txtimg_imgbox" {if $field.img_position == 'right'}style="padding-left:{$field.titleimg_pd}"{/if}>
						{if $item.is_localimg == '0' && $item.field_img}
						<img class="" src="{$item.field_img}">
						{elseif $item.is_localimg == '1' && $item.field_img}
						<img class="" src="{$IMAGE_PATH}/micromagazine/img/thememodal/{$item.field_img}">
						{/if}
					</div>
					{/if}
					<div class="clearfix"></div>	
				</div>
			</a>
		</li>
		{/foreach}
	</ul>
</div>
